<div class="container-fluid p-5 bg-dark text-white">
    <h1>
        Author Details: {{ authorForm.get('au_fname')?.value }} {{ authorForm.get('au_lname')?.value }}
    </h1>
</div>

<form [formGroup]="authorForm" (ngSubmit)="saveChanges()">
    <div class="container-md p-3">
        <div class="row">
            <div class="col-sm-4">
                <h5>ID: </h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="au_id" class="form-control" readonly/>
                <div *ngIf="authorForm.get('au_id')?.invalid && authorForm.get('au_id')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('au_id')?.errors?.['required']">
                        ID Required
                    </small>
                    <small *ngIf="authorForm.get('au_id')?.errors?.['pattern']">
                        Invalid ID (e.g. 172-32-1176)
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>Last Name:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="au_lname" class="form-control" />
                <div *ngIf="authorForm.get('au_lname')?.invalid && authorForm.get('au_lname')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('au_lname')?.errors?.['required']">
                        Last Name Required
                    </small>
                    <small *ngIf="authorForm.get('au_lname')?.errors?.['maxlength']">
                        Max Length Exceeded
                    </small>
                    <small *ngIf="authorForm.get('au_lname')?.errors?.['pattern']">
                        Invalid Characters Detected
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>First Name:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="au_fname" class="form-control" />
                <div *ngIf="authorForm.get('au_fname')?.invalid && authorForm.get('au_fname')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('au_fname')?.errors?.['required']">
                        First Name Required
                    </small>
                    <small *ngIf="authorForm.get('au_fname')?.errors?.['maxlength']">
                        Max Length Exceeded
                    </small>
                    <small *ngIf="authorForm.get('au_fname')?.errors?.['pattern']">
                        Invalid Characters Detected
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>Phone Number:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="phone" class="form-control" />
                <div *ngIf="authorForm.get('phone')?.invalid && authorForm.get('phone')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('phone')?.errors?.['pattern']">
                        Invalid Pattern (e.g. 666 666-6666)
                    </small>
                    
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>Street Address:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="address" class="form-control" />
                <div *ngIf="authorForm.get('address')?.invalid && authorForm.get('address')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('address')?.hasError('noInvalidPatterns')">
                        Invalid String Input
                    </small>
                    <small *ngIf="authorForm.get('address')?.errors?.['maxlength']">
                        Max Length Exceeded
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>City:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="city" class="form-control" />
                <div *ngIf="authorForm.get('city')?.invalid && authorForm.get('city')?.touched" class="text-danger">
                    <small *ngIf="authorForm.get('city')?.hasError('noInvalidPatterns')">
                        Invalid String Input
                    </small>
                    <small *ngIf="authorForm.get('city')?.errors?.['maxlength']">
                        Max Length Exceeded
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>State:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="state" class="form-control" />
                <div *ngIf="authorForm.get('state')?.invalid && authorForm.get('state')?.touched" class="text-danger">
                    <small>
                        Invalid Pattern (e.g. ON)
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>Zip Code:</h5>
            </div>
            <div class="col-sm-8">
                <input type="text" formControlName="zip" class="form-control" />
                <div *ngIf="authorForm.get('zip')?.invalid && authorForm.get('zip')?.touched" class="text-danger">
                    <small>
                        Invalid Pattern (e.g. 55555)
                    </small>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <h5>Contract</h5>
            </div>
            <div class="col-sm-8">
                <select formControlName="contract" class="form-select">
                    <option [ngValue]="true">True</option>
                    <option [ngValue]="false">False</option>
                </select>
            </div>
        </div>
    </div>    
</form>



<div class="row p-5">
    <div class="col-2">
        <button (click)="discardChanges()" class="btn btn-secondary">Discard Changes</button>
    </div>
    <div class="col-2">
        <button (click)="saveChanges()" [disabled]="!authorForm.valid" class="btn btn-primary">Save Changes</button>
    </div>
    <div class="col-10">
        <small *ngIf="modSuccess === true" class="text-success">
            Changes saved successfully!
        </small>
        <small *ngIf="modSuccess === false" class="text-danger">
            Failed saving changes.
        </small>
    </div>
</div>