<div class="container-md p-3 rounded-3 shadow-sm border mt-3">
    <table mat-table [dataSource]="titleAuthorsList" class="mat-elevation-z3 rounded-3 overflow-hidden">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let author">
                {{ author.au_fname }} {{ author.au_lname }}
            </td>
        </ng-container>

        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef>Order</th>
            <td mat-cell *matCellDef="let author">
                {{ author.au_ord }}
            </td>
        </ng-container>

        <ng-container matColumnDef="royalty">
            <th mat-header-cell *matHeaderCellDef>Royalty %</th>
            <td mat-cell *matCellDef="let author">
                {{ author.royaltyper | number: '1.2-2' }}%
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let author" class="text-end">
                <button mat-flat-button color="warn" disabled>
                    Delete Author
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'order', 'royalty', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'order', 'royalty', 'actions'];"></tr>
    </table>

    <!-- Add Author Form -->
  <div class="mt-4 p-3 mat-elevation-z3 border rounded-3">
    <form [formGroup]="newTitleAuthorForm" class="d-flex align-items-center gap-3">

        <mat-form-field appearance="outline" class="flex-grow-1">
            <mat-label>Select Author</mat-label>
            <mat-select formControlName="au_id">
                <mat-option *ngFor="let author of availableAuthors" [value]="author.au_id">
                    {{ author.au_fname }} {{ author.au_lname }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-2">
            <mat-label>Order</mat-label>
            <input matInput formControlName="au_ord" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-2">
            <mat-label>Royalty %</mat-label>
            <input matInput type="number" formControlName="royaltyper" />
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="onAddButtonClick()">
            Add Author
        </button>
    </form>
  </div>
</div>