<div class="container-fluid p-5 bg-dark text-white">
    <h1>SQL Server Table Management: Authors</h1>
</div>

<div class="container-md p-3 rounded-3 shadow-sm border">

    
    <table class="table table-hover rounded-3 overflow-hidden">
        <thead class="table-dark">
            <tr>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (author of authorsList; track $index) {
                <tr>
                    <td>
                        <!-- <a [routerLink]="['/author', author.au_id]" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
                        <a [routerLink]="[author.au_id]">
                            {{ author.au_fname }} {{ author.au_lname }}
                        </a>
                    </td>
                    <td class="text-end">
                        <button mat-flat-button color="warn" (click)="openDeleteDialog(author, '300ms', '150ms')">
                            Delete Entry
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- <div class="col-2">
        <button [routerLink]="['/create-author']" class="btn btn-primary">Create Author</button>
    </div> -->

    <div class="col-2">
        <button mat-fab extended color="primary" [routerLink]="['/create-author']">
          <mat-icon>add</mat-icon>
          Create Author
        </button>
    </div>
        
</div>