<div class="container-md p-3">

    
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (author of authorsList; track $index) {
                <tr>
                    <td>
                        <!-- <a [routerLink]="['/author', author.au_id]" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
                        <a [routerLink]="[author.au_id]">
                            {{ author.au_fname }} {{ author.au_lname }}
                        </a>
                    </td>
                    <td>
                        <button mat-raised-button (click)="openDeleteDialog(author.au_id, '300ms', '150ms')">
                            Delete {{ author.au_id }}
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-2">
        <button [routerLink]="['/create-author']" class="btn btn-primary">Create Author</button>
    </div>
        
</div>